navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    display: flex;
    padding: 1rem;
    gap: 2rem;
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
      
        &:hover{
        cursor: pointer;
        color:red;
    }
    }
 
}