*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
}

$border :2px solid red;
@mixin icons ($flex-direction){
    display: flex;
    flex-direction: $flex-direction;
    padding: 1rem;
    
}



body{
     background-image: url('../image/project-2.jpg');
     width: 100%;
     height: 100vh;
     background-color: bisque;
}


.ilk{
    border: $border;
    
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80%;
     .ust{
        margin-top: 350px
     }
}

footer{

 
    display: flex;
  
   
     .icons1{
       @include icons(row);
        position: fixed;
         bottom: 0;
        .icon1{
            border:$border;
            padding: 5px;
            gap: 2rem;
            width: 80px;
            height: 40px;
        }
        .icon2{
            @extend .icon1
        }
        .icon3{
            @extend .icon1
        }
        .icon4{
            @extend .icon1
        }
     }
}